$dark: #15121D;
$white: #FFFFFF;
$grey: #D4CFDD;
$font-family-text: 'Gilroy';
$font-family-title: 'Montserrat';
$body-bg: $dark;
$header-color: $white;
$padding-xxl: calc((100vw - 1440px)/2);
$padding-xl: 240px;
$padding-lg: 150px;
$padding-md: 80px;
$padding-tablet: 32px;
$padding-mob: 16px;
$main-color: $white;
$text-color: $grey;